<%= simple_form_for [@profile] do |f| %>
  <div class="container-form">
    <div class="signup-screen">
      <%= f.input :photoprofile, label: 'My profile picture' %>
      <%= f.input :photoprofile_cache, as: :hidden %>
      <%= f.input :description_user, placeholder:"I was born to surf..."%>
      <%= f.input :address, label: 'My address',input_html: { id: 'gmaps-input-address' }, :placeholder => 'Start typing a place name...' %>
      <%= f.input :phone %>
      <!-- Association categories replaced by the group below -->
       <!--  f.association :likecategories, as: :check_boxes %> -->
      <div class="form-group">
        <label class="control-label check_boxes optional">I also love</label>
        <input type="hidden" name="profile[likecategory_ids][]" value="">
        <div class="category-choices">
          <% Likecategory.all.each do |likecategory| %>
            <input type="checkbox" class="hidden" value="<%= likecategory.id %>" name="profile[likecategory_ids][]" id="profile_likecategory_ids_<%= likecategory.id %>">
            <label class="category-choice" for="profile_likecategory_ids_<%= likecategory.id %>">
              <%= likecategory.name %>
              <i class="fa fa-check"></i>
            </label>
          <% end %>
         </div>
      </div>


      <%= f.input :surf_level, label: 'Surf level (?) ', input_html: { "data-tooltip" => true, :class => "has-tip", :title => "
        Super Baby: \"I never surf\"
        Baby: \"I have tried one time\"
        Mid Baby Mid Papy: \"I have an intermediate level\"
        Papy: \"I am not too bad\"
        Super Papy: \"I am quiet good\"
        " }, collection: Profile::SURF_LEVEL, prompt:"which level?" %>
      </%>
      <%= f.input :board_type, collection: Profile::BOARD_TYPE, prompt:"Any board?" %>
      <%= f.input :favorite_beach, placeholder:"Waikiki" %>
      <div class="text-center"> <%= f.button :submit, class: 'btn btn-validate' %> </div>
    </div>
  </div>
<% end %>

