<div class="container-form">
  <%= simple_form_for [@profile] do |f| %>
    <%= f.input :description_user %>
    <%= f.input :nickname %>
    <%= f.input :phone %>
    <div class="text-center"> <%= f.button :submit, class: 'btn btn-blue' %> </div>
  <% end %>
</div>

