<div class="container-form">
  <%= simple_form_for [@profile] do |f| %>
    <%= f.input :description_user %>
    <%= f.input :phone.to_s %>
    <%= f.input :photoprofile %>
    <%= f.input :photoprofile_cache, as: :hidden %>
    <div class="text-center"> <%= f.button :submit, class: 'btn btn-blue' %> </div>
  <% end %>
</div>

