<div class="background_index" style="background-image:  url('<%= image_path 'home_page1.jpg' %>');"></div>
  <div class="arrow-left-back-page">
     <%= link_to '<i class="far fa-arrow-alt-circle-left"></i>'.html_safe,  root_path() %>
  </div>
  <div class="title"><h2>FIND A SURFERS</h2></div>
  <div class="container_profile">
    <div class="swiper-container">
        <div class="swiper-wrapper">
           <% @users.each do |user| %>
            <%= render "shared/card-find-surfer", user: user %>
           <% end %>
        </div>
                <!-- Add Pagination -->
        <div class="swiper-pagination swiper-all-cards"></div>
    </div>
  </div>

      <div class="container-buttons">
        <div class="like_dislike">
          <button id="nope"><%= image_tag "delete.png", alt: "No", width: 80, height: 80 %></button>
        </div>
        <p id="demo">results:</p>
        <div class="like_dislike">
          <button id="aloha"><%= image_tag "aloha.png", alt: "No", width: 40, height: 40 %></button>
        </div>
    <div class="button_finder">
      <%= link_to profiles_path(), method: :post do %>
      <div class="like match-choice-btn">
        <%= image_tag("aloha.png") %>
      </div>
    <% end %>
    </div>
  </div>


     <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
          <!-- Swiper JS -->


