<div class="banner_profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'Surfboard.jpg' %>');">
<div class="profile_picture"></div>

<div class="profile_infos">
<h2 id="firstName"><%= current_user.first_name %></h2>
  <div class="description_user">
      <%= @profile.description_user %>
  </div>
<p>nickname</p>
<div class="icons-space">
  <%= image_tag "baby-face-black.png", alt: "baby-face-black", width: 50, height: 50 %>
</div>
<%= @profile.nickname %>
<p>phone</p>
<%= @profile.phone %>

<%= current_user.email %>

<%= link_to "update Profile", edit_profile_path(@profile) %>
</div>
