<div class="banner_profile banner_event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'Surfboard.jpg' %>');"></div>
<div class="arrow-left-back-page">
   <%= link_to '<i class="fa fa-angle-left button-white-left"></i>'.html_safe,  root_path() %>
</div>

    <div class="profile_picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @profile.photoprofile.url %>');"></div>


  <div class="profile_infos">
    <h2 id="firstName"><%= @profile.user.first_name %></h2>
      <div class="description_user">
          <%= @profile.description_user %>
      </div>
    <div class="icons-space">
    <% if @profile.likecategories.empty? %>
        <div class="icon-black">
          <%= image_tag "beers_b.png", alt: "baby-face-black", width: 50, height: 50 %>
          <%= image_tag "sunbath_b.png", alt: "baby-face-black", width: 50, height: 50 %>
          <%= image_tag "sausage_b.png", alt: "baby-face-black", width: 50, height: 50 %>
          <%= image_tag "sports_b.png", alt: "baby-face-black", width: 50, height: 50 %>
          <%= image_tag "run_b.png", alt: "baby-face-black", width: 50, height: 50 %>
          <%= image_tag "van_b.png", alt: "baby-face-black", width: 50, height: 50 %>
        </div>
    <% else %>
      <% @profile.likecategories.each do |category| %>
        <% if category.id == 1 %>
          <%= image_tag "beers_p.png", alt: "baby-face-black", width: 50, height: 50 %>
        <% else %>
        <% end %>
        <% if category.id == 2 %>
          <%= image_tag "sunbath_p.png", alt: "baby-face-black", width: 50, height: 50 %>
        <% else %>
        <% end %>
        <% if category.id == 3 %>
          <%= image_tag "sausage_p.png", alt: "baby-face-black", width: 50, height: 50 %>
        <% else %>
        <% end %>
        <% if category.id == 4 %>
          <%= image_tag "sports_p.png", alt: "baby-face-black", width: 50, height: 50 %>
        <% else %>
        <% end %>
        <% if category.id == 5 %>
          <%= image_tag "run_p.png", alt: "baby-face-black", width: 50, height: 50 %>
        <% else %>
        <% end %>
        <% if category.id == 6 %>
          <%= image_tag "van_p.png", alt: "baby-face-black", width: 50, height: 50 %>
        <% else %>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <div class="row">
        <div class="surf-level">
          <p><i class="fa fa-battery-half"></i>  Surf level</p>
          <p style="padding-bottom: 5px; font-style: bold;"><%= @profile.surf_level %></p>
    </div>
      <div class="row">
          <div class="favorite_spot">
          <p><i class="fa fa-globe"></i>  Favorite spot</p>
          <p style="padding-bottom: 5px; font-style: bold;"><%= @profile.favorite_beach %></p>
        </div>
      </div>
      <div class="row">
        <div class="surfboard">
          <p><i class="fa fa-rocket" aria-hidden="true"></i>  My Surfboard</p>
          <p style="padding-bottom: 5px; font-style: bold;"><%= @profile.board_type %></p>
        </div>
      </div>
    </div>

    <% if current_user.id == @profile.id %>

    <div class="row">
      <div class="matches_view">
        <h4>My matches (only seen by you)</h4>
        <hr style="margin-bottom: 4px;margin-top: 4px;">
        <% @users_matched.each do |match| %>
          <div class="col-xs-3 col-md-3 col-sm-3">
            <div class="match_show">
                  <%= link_to profile_path(match.id) do %>
                    <img
                     class="join_picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= match.profile.photoprofile.url || match.profile_picture %>');" >
                 <p><%= match.first_name %></p>
               <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="contact text-center">
        <h4>Contact (only seen by you)</h4>
        <hr style="margin-bottom: 4px;margin-top: 4px;">
        <p>Phone: <%= @profile.phone %></p>
        <p>Mail: <%= @profile.user.email %></p>

          <div class="space-top">
           <%= link_to "Update Profile", edit_profile_path(@profile), class:"btn btn-create" %>
          </div>



      </div>
    </div>
    <% end %>
    <div class="space_footer_profile"></div>
  </div>


