<div class="banner_profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'Surfboard.jpg' %>');"></div>
<div class="profile_picture"></div>

<div class="profile_infos">
  <h2 id="firstName"><%= current_user.first_name %></h2>
    <div class="description_user">
        <%= @profile.description_user %>
    </div>

  <div class="icons-space">
    <%= image_tag "baby-face-black.png", alt: "baby-face-black", width: 30, height: 30 %>
    <%= image_tag "cafe-red.png", alt: "baby-face-black", width: 30, height: 30 %>
    <%= image_tag "beer-red.png", alt: "baby-face-black", width: 30, height: 30 %>
    <%= image_tag "bbq-red.png", alt: "baby-face-black", width: 30, height: 30 %>
  </div>
  <div class="row">
    <div class="column side">
      <div class="surf-level">
        <p>Surf level</p>
      </div>
    </div>
    <div class="column middle">
        <div class="favorite_spot">
        <p>Favorite spot</p>
      </div>
    </div>
    <div class="column side">
      <div class="surfboard">
        <p>My Surfboard</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="contact">
      <p>Phone: <%= @profile.phone %></p>
      <p>Mail: <%= current_user.email %></p>
      <%= link_to "update Profile", edit_profile_path(@profile) %>
    </div>
  </div>

  <%= cl_image_tag("BabySurfers/boris_retreat_2017_limtyd",
      width: 400, height: 300, crop: :fill) %>
</div>



