

<div class="wrapper1">
  <div class="top-scroll">
    <% @unstarted.each do |convo| %>

      <%= link_to "", conversation_path(convo), class: "avatar-link" %>
      </div>
    <% end %>
  </div>
</div>

<%# if @started != [] %>
  <%# @started.each do |conversation| %>

    <%# if (!conversation.messages.last.from?(current_user)) && conversation.last_opened_id != current_user.id %>
      <%# variable_to_know_if_unread = 'unread' %>
    <%# elsif (!conversation.messages.last.from?(current_user)) && conversation.last_opened_id == current_user.id %>
      <%# variable_to_know_if_unread = '' %>
    <%# else  %>
      <%# variable_to_know_if_unread = '' %>
    <%# end %>

  <div class="messages-box">
        <%= render 'conversations', conversations: @started %>
        <%= render 'conversations_not_started', conversations: @unstarted %>
  </div>

  <%# end %>
<%# end %>



<%= content_for(:after_js) do %>
  <script>
    App['user_<%= @user.id %>'] = App.cable.subscriptions.create(
      { channel: 'UsersChannel', user_id: <%= @user.id %> },
      {
        received: (data) => {
          $.getScript("<%= conversations_path %>");
        }
      });
  </script>
<% end %>




<!-- <script>
  setTimeout(window.location.reload(), 5000);
</script>
 -->






