<div class="swiper-slide">
  <!-- IN ORDER TO FIND THE USER ID OF THE ACTIVE CARD but finally not used
  <div class="inactive">%= user.profile.id %></div> -->
  <div class="card-surfer">
     <div class="profile_find_a_surfer" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= user.profile.photoprofile.url %>');"></div>
      <div class="card_find_a_surfer_description">
         <%= link_to profile_find_a_surfer_path(user) do %>
        <h4><%= user.first_name %></h4>
        <% end %>
        <p><%= user.profile.favorite_beach %></p>
        <p><%= user.profile.surf_level %></p>
      </div>
  </div>
  <div class="container-buttons">
    <%= link_to profile_dislikes_path(user.profile.id), method: :post do %>
      <div class="like_dislike btn nope">
        <%= image_tag "delete.png", alt: "No", width: 30, height: 30 %>
      </div>
    <% end %>
    <%= link_to profile_matches_path(user.profile.id), method: :post do %>
      <div class="like_dislike btn aloha">
        <%= image_tag "aloha.png", alt: "No", width: 40, height: 40 %>
      </div>
    <% end %>
  </div>

</div>
