<div class="space_footer"></div>
<div class="footer">
      <div class="col_icon">
        <% if user_signed_in? %>
          <%= link_to profile_path(current_user) do %>
            <div class="avatar-footer" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= current_user.profile.photoprofile.url %>');"></div>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-user"></i>
          <% end %>
        <% end %>
      </div>
      <div class="col_icon">
        <% if user_signed_in? %>
          <%= link_to conversations_path do %>
            <!-- <i class="fa fa-comments"></i> -->
            <%= image_tag "conversation.png", alt: "No", width: 35, height: 30 %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <!-- <i class="fa fa-comments"></i> -->
            <%= image_tag "conversation.png", alt: "No", width: 35, height: 30 %>
          <% end %>
        <% end %>
      </div>
      <div class="col_icon">
        <%= link_to events_path do %>
          <%= image_tag "surfer_black.jpg", alt: "No", width: 35, height: 30 %>
        <% end %>
      </div>
      <div class="col_icon">
        <% if user_signed_in? %>
          <%= link_to profiles_path do %>
            <%= image_tag "aloha_black.png", alt: "No", width: 30, height: 40 %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <%= image_tag "aloha_black.png", alt: "No", width: 30, height: 40 %>
          <% end %>
        <% end %>
      </div>
      <div class="col_icon">
        <% if user_signed_in? %>
          <%= link_to new_event_path do %>
            <%= image_tag "new_event.png", alt: "No", width: 30, height: 30 %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <%= image_tag "new_event.png", alt: "No", width: 30, height: 30 %>
          <% end %>
        <% end %>
      </div>
</div>
