<div class="navbar-wagon">
  <!-- Logo -->

    <div class="navbar-wagon-brand">
      <h4><%= link_to "Baby Surfers", about_path %></h4>
    </div>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Profile</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Create an event</a>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/bendeboissieu" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
       <% if user_signed_in? %>
            <li>
            <li><%= link_to "Profile", profile_path(current_user.id) %>
            </li>
          <li><%= link_to "Create an event", new_event_path %></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>

          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
    <i class="dropdown-toggle" data-toggle="dropdown"><%= image_tag "baby-face-white.png", alt: "baby-face-black", width: 40, height: 40 %></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <% if user_signed_in? %>
            <li>
            <li><%= link_to "Profile", profile_path(current_user.id) %>
            </li>
          <li><%= link_to "Create an event", new_event_path %></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>

          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
