<div class="navbar-wagon">
  <!-- Logo -->

    <div class="navbar-wagon-brand">
      <h4><%= link_to "Baby Surfers", about_path %></h4>
    </div>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Desktop Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
      <i class="dropdown-toggle button-circle circle" data-toggle="dropdown"><%= image_tag "baby-face-white.png", alt: "baby-face-black", width: 35, height: 50, style:"padding-bottom: 17px;" %></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
       <% if user_signed_in? %>
            <li>
            <li style="margin:10px;"><%= link_to "Profile", profile_path(current_user.id) %>
            </li>
          <li style="margin:10px;"><%= link_to "Create an event", new_event_path %></li>
          <li style="margin:10px;"><%= link_to "About us", about_path %></li>
          <li style="margin:10px;">
            <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>

          </li>
        <% else %>
          <li style='margin:10px;'><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "About us", about_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle button-white" style="font-size:20px;color:#27292C;" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <% if user_signed_in? %>
           <li><%= link_to "My Profile", profile_path(current_user.id) %> </li>
           <li><%= link_to "Conversations", conversations_path %></li>
          <li><%= link_to "Find an event", events_path %></li>
          <li><%= link_to "Find a surfer", profiles_path %></li>
          <li><%= link_to "Create an event", new_event_path %></li>
           <li><%= link_to "About us", about_path %></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>

          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "About us", about_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
