  <%= simple_form_for [event] do |f| %>
<div class="container-form">

    <% if @event.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :title_event %>
    <%= f.input :location, input_html: { id: 'gmaps-input-address' }, :placeholder => 'Start typing a place name...' %>
    <%= f.input :description %>
    <p><span><%= f.input :start_at %></span></p>
    <div class="text-center"> <%= f.button :submit, class: 'btn btn-success' %> </div>
</div>
  <% end %>

