<div class="container-form">
  <%= simple_form_for [event] do |f| %>
    <% if @event.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :title_event %>
    <%= f.input :description %>
    <div class="text-center"> <%= f.button :submit, class: 'btn btn-blue' %> </div>
  <% end %>
</div>
