      <div class="collapse" id="collapseWeather">
        <div class="description_event">
          <p>Min temperature: <%=@weather["main"]["temp_min"]%>°C</p>
          <p>Max temperature: <%=@weather["main"]["temp_max"]%>°C</p>
          <p>Wind: <%=@wind_speed_km %> km/h   <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weather["wind"]["deg"]%>deg);"></i> </p>
          <table>
            <tr id="weather">
              <td><%= (Date.current+1).strftime("%a %d") %> 00h</td>
              <td><%= (Date.current+1).strftime("%a %d") %> 06h</td>
              <td><%= (Date.current+1).strftime("%a %d") %> 12h</td>
              <td><%= (Date.current+1).strftime("%a %d") %> 18h</td>
            </tr>
            <tr>
              <% for i in (0..3) %>
                  <% if @weatherspeed_5days[i] < 5 %>
                    <td id="no_wind">
                  <% elsif @weatherspeed_5days[i] > 5 && @weatherspeed_5days[i] < 12 %>
                    <td id="light_wind">
                  <% elsif @weatherspeed_5days[i] > 12 && @weatherspeed_5days[i] < 20 %>
                    <td id="good_wind">
                  <% else %>
                    <td id="strong_wind">
                  <% end %>
                  <%=@weatherspeed_5days_time[i]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weather_5days["list"][i]["wind"]["deg"]%>deg);"></i>
                </td>
              <% end %>
            </tr>
          </table>
          <br>
          <table>
            <tr id="weather">
              <td><%= (Date.current+2).strftime("%a %d") %> 00h</td>
              <td><%= (Date.current+2).strftime("%a %d") %> 06h</td>
              <td><%= (Date.current+2).strftime("%a %d") %> 12h</td>
              <td><%= (Date.current+2).strftime("%a %d") %> 18h</td>
            </tr>
            <tr>
              <% for i in (4..7) %>
               <% if @weatherspeed_5days[i] < 5 %>
                    <td id="no_wind">
                  <% elsif @weatherspeed_5days[i] > 5 && @weatherspeed_5days[i] < 12 %>
                    <td id="light_wind">
                  <% elsif @weatherspeed_5days[i] > 12 && @weatherspeed_5days[i] < 20 %>
                    <td id="good_wind">
                  <% else %>
                    <td id="strong_wind">
                  <% end %>
              <%=@weatherspeed_5days[i]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weather_5days["list"][i]["wind"]["deg"]%>deg);"></i></td>
              <% end %>
            </tr>
          </table>
          <br>
          <table>
            <tr id="weather">
              <td><%= (Date.current+3).strftime("%a %d") %> 00h</td>
              <td><%= (Date.current+3).strftime("%a %d") %> 06h</td>
              <td><%= (Date.current+3).strftime("%a %d") %> 12h</td>
              <td><%= (Date.current+3).strftime("%a %d") %> 18h</td>
            </tr>
            <tr>
              <% for i in (8..11) %>
               <% if @weatherspeed_5days[i] < 5 %>
                    <td id="no_wind">
                  <% elsif @weatherspeed_5days[i] > 5 && @weatherspeed_5days[i] < 12 %>
                    <td id="light_wind">
                  <% elsif @weatherspeed_5days[i] > 12 && @weatherspeed_5days[i] < 20 %>
                    <td id="good_wind">
                  <% else %>
                    <td id="strong_wind">
                  <% end %>
               <%=@weatherspeed_5days[i]%> <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weather_5days["list"][i]["wind"]["deg"]%>deg);"></i></td>
              <% end %>
            </tr>
          </table>
          <br>
          <p>More information on <a href="https://magicseaweed.com/">Magicseaweed</a></p>
        </div>
      </div>


