      <div class="collapse" id="collapseWeather">
        <div class="description_event">
          <p>Min temperature: <%=@weather["main"]["temp_min"]%>°C</p>
          <p>Max temperature: <%=@weather["main"]["temp_max"]%>°C</p>
          <p>Wind: <%=@wind_speed_km %> km/h   <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weather["wind"]["deg"]%>deg);"></i> </p>
          <table id="weather">
            <tr>
              <td><%= (Date.current+1).strftime("%a %d") %> 00h</td>
              <td><%= (Date.current+1).strftime("%a %d") %> 06h</td>
              <td><%= (Date.current+1).strftime("%a %d") %> 12h</td>
              <td><%= (Date.current+1).strftime("%a %d") %> 18h</td>
            </tr>
            <tr>
              <td style="background-color:  #32B796;"><%=@weatherspeed_5days[0]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][0]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][2]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][2]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][4]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][4]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][6]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][6]["wind"]["deg"]%>deg);"></i></td>
            </tr>
          </table>
          <br>
          <table id="weather">
            <tr>
              <td><%= (Date.current+2).strftime("%a %d") %> 00h</td>
              <td><%= (Date.current+2).strftime("%a %d") %> 06h</td>
              <td><%= (Date.current+2).strftime("%a %d") %> 12h</td>
              <td><%= (Date.current+2).strftime("%a %d") %> 18h</td>
            </tr>
            <tr>
              <td><%=@weater_5days["list"][8]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][8]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][10]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][10]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][12]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][12]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][14]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][14]["wind"]["deg"]%>deg);"></i></td>
            </tr>
          </table>
          <br>
                    <table id="weather">
            <tr>
              <td><%= (Date.current+3).strftime("%a %d") %> 00h</td>
              <td><%= (Date.current+3).strftime("%a %d") %> 06h</td>
              <td><%= (Date.current+3).strftime("%a %d") %> 12h</td>
              <td><%= (Date.current+3).strftime("%a %d") %> 18h</td>
            </tr>
            <tr>
              <td><%=@weater_5days["list"][16]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][16]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][18]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][18]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][20]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][20]["wind"]["deg"]%>deg);"></i></td>
              <td><%=@weater_5days["list"][22]["wind"]["speed"]%>  <i class="fas fa-arrow-up rotate_arrow", style=" transform: rotate(<%=@weater_5days["list"][22]["wind"]["deg"]%>deg);"></i></td>
            </tr>
          </table>
          <br>
          <p>More information on <a href="https://magicseaweed.com/">Magicseaweed</a></p>
        </div>
      </div>


