<div class="background_index" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= image_path 'home.jpg' %>');"></div>
  <div class="arrow-left-back-page">
     <%= link_to '<i class="far fa-arrow-alt-circle-left"></i>'.html_safe,  root_path() %>
  </div>
  <div class="title"><h1>Events</h1></div>


    <% if @events.count <= 1 %>
      <h4 class="text-center"> Hello <%= current_user.first_name %>, we found <%= @events.count %> event for you. </h4>
    <% else %>
      <h4 class="text-center"> Hello <%= current_user.first_name %>, we found <%= @events.count %> events for you. </h4>
    <% end %>
    <div class="row">
      <% @events.each do |event| %>
       <div class="col-xs-12 col-md-4 col-sm-6">
          <div class="card", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'surf_session.jpg', height: 300, width: 400, crop: :fill %>')">
            <div class="card-title">
                <h2> <%= event.title_event.capitalize %> </h2>
            </div>
            <div class="card-date">
              <% if event.start_at != nil %>
                <p><%= event.start_at.strftime("On %m %B %Y") %></p>
              <% end %>
            </div>
            <div class="card-description">
                <p> <%= event.description %> </p>
            </div>
            <div class="card-location">
              <p><%= event.location %></p>
            </div>
            <%= link_to "", event_path(event), class: "card-link" %>
          </div>
       </div>
      <% end %>
    </div>
    <div class="row">
    <div id="map" style='width: 100%; height: 300px;'></div>
    </div>



<% content_for(:after_js) do %>
  <script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>

