<div class="background_index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'home.jpg' %>');"></div>
  <div class="title"><h1>Events</h1></div>

  <div class="container-index">
    <% if @events.count <= 1 %>
      <h4 class="text-center"> Hello <%= current_user.first_name %>, We found <%= @events.count %> event for you. </h4>
    <% else %>
      <h4 class="text-center"> Hello <%= current_user.first_name %>, We found <%= @events.count %> events for you. </h4>
    <% end %>
    <div class="row">
      <% @events.each do |event| %>
       <div class="col-xs-12 col-md-4 col-sm-6">
          <div class="card", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'surf_session.jpg', height: 300, width: 400, crop: :fill %>')">
            <div class="card-title">
                <h2> <%= event.title_event.capitalize %> </h2>
            </div>
            <div class="card-date">
              <% if event.start_at != nil %>
                <p><%= event.start_at.strftime("On %m %B %Y") %></p>
              <% end %>
            </div>
            <div class="card-description">
                <p> <%= event.description %> </p>
            </div>
            <div class="card-location">
              <p><%= event.location %></p>
            </div>
            <%= link_to "", event_path(event), class: "card-link" %>
          </div>
       </div>
      <% end %>
    </div>
  </div>

