        <% if @event.id.even? %>
          <% if @event.id%4 == 0 %>
          <div class="banner_event", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'surf_session1.jpg', height: 300, width: 400, crop: :fill %>')"></div>
          <% else %>
           <div class="banner_event", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'surf_session2.jpg', height: 300, width: 400, crop: :fill %>')"></div>
          <% end %>
        <% else %>
          <% if @event.id%3 == 0 %>
          <div class="banner_event", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'surf_session3.jpg', height: 300, width: 400, crop: :fill %>')"></div>
          <% else %>
          <div class="banner_event", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'surf_session4.jpg', height: 300, width: 400, crop: :fill %>')"></div>
          <% end %>
        <% end %>


<div class="arrow-left-back-page">
   <%= link_to '<i class="fa fa-angle-left button-white-left"></i>'.html_safe,  events_path() %>
</div>
  <div class="event_infos">
    <div class="text-center">
      <h2 id="title_event"><%= @event.title_event %></h2>
    </div>
    <!-- Organised by -->
    <div class="row">
      <div class="description_organiser">
          <p>Organised by <%= link_to @event.organiser, profile_path(@event.organiser_id) %>
            <%= link_to profile_path(@event.organiser_id) do %>
               <span class="organiser_picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  @event.user.profile.photoprofile.url %>');"></span>
            <% end %>
          </p>
      </div>
    </div>
    <div class="row">
      <div class="column-show-event">
        <div class="location-show-event">
         <p class="text-center" , url('https://www.google.com/maps/place/Bondi+beach')> <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <a href="https://www.google.com/maps/place/<%=@event.location%>"><%= @event.location %></a>
           </p>
             <%= render 'weather'%>
        </div>
        <% if @event.start_at != nil %>
          <div class="date-show-event text-center">
            <p><%= @event.start_at.strftime("%A %d %B %Y") %></p>
            <p style="font-weight: bold; font-size: 22px; margin-bottom: 0px;"><%= @event.start_at.strftime("%l:%M  %P") %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="collapse" id="collapseWeather">
        <div class="description_event">
          <p>Min temperature: <%=@weather["main"]["temp_min"]%>°C</p>
          <p>Max temperature: <%=@weather["main"]["temp_max"]%>°C</p>
          <p>Wind: <%=@weather["wind"]["speed"]%> nd</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="description_event">
          <p class="text-center"><%= @event.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <%= link_to "Join",  new_event_join_path(@event), class: "btn btn-join" %>
           <div class="space-top"><a href="whatsapp://send?text=<%= request.original_url %>">Share on WhatsApp <i class="fa fa-whatsapp" aria-hidden="true"></i></a></div>
    <% if current_user.nil? %>
    <% else %>
      <% if current_user.id == @event.user_id %>
      <div class="space-top"></div>
      <%= link_to " Delete", @event, :method => "delete", class: 'btn btn-warning'%>
      <%= link_to " Update ", edit_event_path, class: 'btn btn-primary'%>
      <% end %>
    <% end %>
      </div>
    </div>
    <div class="row">
      <div class="column-show-event">
        <div class="people-comming-show">
          <p class="text-center">Who's coming?</p>


          <% if @event.joins.count < 1 %>
            <p> No people yet</p>
          <% else %>
            <% @event.joins.each do |join| %>
            <!-- If no profile picture -->
              <ul>
                <%= link_to profile_path(join.user_id) do %>
                  <li><img
                   class="join_picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  join.user.profile.photoprofile.url %>');" ></li>
                  <li style="padding-left: 40px;">  <%= join.user.first_name %> </li>
                <% end %>
                    <% if current_user.present?  %>
                      <% if current_user.id == join.user_id %>
                        <li style="padding-left: 10px;">
                         <%= link_to event_join_path(@event,join), method: :delete do%> <i class="fa fa-times" style="color:#cf3a3a; font-size: 22px;" aria-hidden="true"></i>
                         <% end %>
                         </li>
                      <% end %>
                    <% end %>
                </ul>
              <% end %>
          <% end %>
        </div>
        <div class="discussion-show">
          <p class="text-center"><i class="fa fa-envelope-open" aria-hidden="true"></i>  Discussion</p>
          <% if @event.discussions.count < 1 %>
              <p>no message yet</p>
          <% else %>
              <% @event.discussions.each do |discussion| %>
                <% if discussion.user_id == @event.organiser_id%>
                    <div class="discussion_organiser"><%= discussion.user.first_name %></div>
                  <div class="organiser-answer">
                    <div class="discussion_message_organiser"><%= discussion.message_event.capitalize %></div>
                  </div>
                <% else %>
                    <div class="discussion_user"><%= discussion.user.first_name %></div>
                  <div class="user-answer">
                    <div class="discussion_message"><%= discussion.message_event.capitalize %></div>
                  </div>
                <% end %>
              <% end %>
          <% end %>
          <div class="text-center write-message">
            <%= link_to "Write a message",  new_event_discussion_path(@event), class: "btn btn-write" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="map" style='width: 100%; height: 300px;'></div>
    </div>

  </div>


  <% content_for(:after_js) do %>
    <script type="text/javascript">
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    </script>
  <% end %>

  <div class="space_footer_profile"></div>
