<div class="background_index" style="background-image:  url('<%= image_path 'home_page.jpg' %>');"></div>
  <div class="arrow-left-back-page">
     <%= link_to '<i class="fa fa-angle-left button-white-left"></i>'.html_safe,  root_path() %>
  </div>
  <div class="title"><h1>RENTALS</h1></div>
  <div class="row">
    <% if @rentals.count == 0 %>
      <p> No rental available</p>
    <% else %>
    <% @rentals.each do |rental| %>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="rental_card">
          <%= link_to "", rental_path(rental), class: "card-link" %>
          <div class="card-title">
            <h2> <%= rental.title %>  by <%= rental.user.first_name %> <img
                     class="rental_picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  rental.user.profile.photoprofile.url %>');" >
            </h2>
            <!-- .upcase to put in block letters -->
          </div>
          <div class="rental_description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate odio neque incidunt quo quas tempore sed eaque, dolores distinctio nam reiciendis libero fugiat possimus explicabo esse! Omnis natus, illum soluta!
            </p>
            <div class="rental_price">
              <p><%= rental.price %></p>
            </div>
            <div class="rental_contact">
              <p><%= rental.phone %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
   <% end %>
 </div>
</div>
