<div class="background_index" style="background-image:  url('<%= image_path 'home_page.jpg' %>');"></div>
  <div class="arrow-left-back-page">
     <%= link_to '<i class="fa fa-angle-left button-white-left"></i>'.html_safe,  root_path() %>
  </div>
  <div class="title"><h1>RENTALS</h1></div>
  <div class="row">
    <% if @rentals.count == 0 %>
      <p> No rental available</p>
    <% else %>
      <% @rentals.each do |rental| %>
        <div class="col-xs-12 col-md-4 col-sm-6">
          <div class="rental-card">
            <%= link_to "", rental_path(rental), class: "card-link" %>
            <div class="card-title-rental">
              <h2> <%= rental.title %></h2>
              <p>
                by <%= rental.user.first_name %> <img
                       class="owner-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  rental.user.profile.photoprofile.url %>');" >
              </p>
              <!-- .upcase to put in block letters -->
            </div>
            <img class="picture-rental" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  rental.picture.url %>');">
            <div class="rental-description">
              <p><%= rental.description %></p>
            <div class="rental-price-index">
              <p><%= rental.price %> $ / Day</p>
            </div>
            </div>
            <div class="rental-information">
              <h3>CONTACT</h3>
              <p><%= rental.phone %></p>
              <% if rental.localisation.nil? %>
              <% else %>
                <h3>LOCATION</h3>
                <p><%= rental.localisation.city %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
 </div>
 <div class="space_footer_profile"></div>
</div>
