<div class="arrow-left-back-page">
   <%= link_to '<i class="fa fa-angle-left button-white-left"></i>'.html_safe,  rentals_path() %>
</div>
<div class="title"><h1><%= @rental.title %></h1></div>


<div class="text-align">
    <p>
      by <%= @rental.user.first_name %> <img
             class="owner-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  @rental.user.profile.photoprofile.url %>');" >
    </p>
</div>

<div class="container">
 <img class="picture-rental" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  @rental.picture.url %>');">
  <div class="rental-description">
    <p><%= @rental.description %></p>
  </div>
</div>
