<div class="arrow-left-back-page">
   <%= link_to '<i class="fa fa-angle-left button-white-left"></i>'.html_safe,  rentals_path() %>
</div>
<div class="container">
<div class="title"><h1><%= @rental.title %></h1></div>


<div class="text-align">
    <p>
      by <%= @rental.user.first_name %> <img
             class="owner-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  @rental.user.profile.photoprofile.url %>');" >
    </p>
</div>
<div class="space-top"></div>
  <div class="rental-description-show">
    <p><%= @rental.description %></p>
    <div class="rental-price-show">
    <p><%= @rental.price %> $ / Day</p>
    </div>
</div>

<div class="space-top"></div>

 <img class="picture-rental-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  @rental.picture.url %>');">

</div>



 <% if current_user.id == @rental.user_id %>
      <div class="space-top"></div>
      <%= link_to " Delete", @rental, :method => "delete", class: 'btn btn-warning'%>
      <%= link_to " Update ", edit_rental_path, class: 'btn btn-primary'%>
      <% end %>
