<div class="banner" style="background-image:  url('<%= image_path 'home_page.jpg' %>');">
  <div class="under-logo-home">
    <%= image_tag "babysurfers-black.png", class: "logo-home" %>
  </div>
  <div class="buttons-home text-center">
    <%= link_to "FIND AN EVENT", events_path, class: "see_event_home btn-home" %>
  <% if @user == nil %>
    <%= link_to "FIND A BABY SURFER",  presentation_find_path, class: "see_baby_surfers_home btn-home" %>
  <% else %>
     <%= link_to "FIND A BABY SURFER",  profiles_path, class: "see_baby_surfers_home btn-home" %>
  <% end %>
  </div>

</div>
<div class="home_event_desktop">
  <h1>FIND AN EVENT</h1>
  <p>Create your event</p>
  <p>Join an event</p>
  <p>Discuss with the group</p>
</div>
<div class="home_babysurfer_desktop">
  <h1>FIND A BABY SURFER</h1>
  <p>See the surfers around you</p>
  <p>Match them and start a conversation</p>
  <div class="image_presentation">
    <%= image_tag "gif_presentation.gif" %>
  </div>
</div>
